
*.vsidx
*.lock
ScriptMain/.vs/ScriptMain/v17/.suo
*.ipch
*.lastbuildstate
*.tlog
*.recipe
*.log
*.iobj
*.ipdb
*.obj
ScriptMain/ScriptMain/tmp/Release/ScriptMain.vcxproj.FileListAbsolute.txt
*.pdb
*.db
*.asi
*.opendb
*.db-wal
*.db-shm
